# Kiruthikaa - Exploratory Data Analysis (EDA) - Iris Dataset

- Author: [Kiruthikaa](https://github.com/kiruthikaa2512/)
- Repository: [datafun-04-notebooks](https://github.com/kiruthikaa2512/datafun-04-notebooks)
- Date: May 27, 2025
- Purpose: Perform EDA on the Iris dataset using pandas, Seaborn, and Matplotlib

## Step 1: Import Necessary Libraries  
We will use Python libraries like pandas, Seaborn, and Matplotlib for data analysis and visualization.

##### Section 1. Imports

In [1]:
# Import necessary libraries
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Axes object (basic plot type returned by Seaborn)
from matplotlib.axes import Axes

## 2. Load the Iris Dataset

In [ ]:
# Load the Iris dataset into a Pandas DataFrame
iris_df: pd.DataFrame = sns.load_dataset('iris')

# Display the first few rows to understand the dataset structure
iris_df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

### Step 3. Initial Data Inspection